@import "vars"


/*==========  Desktop First  ==========*/

+media-breakpoint-down(xl)
+media-breakpoint-down(lg)
  .popup-form
    padding-left: 300px
    .p-content
      padding: 55px 40px
    .f-input
      padding: 5px
+media-breakpoint-down(md)
  .sec_2 
    .g-1
      height: 400px
    .g-2
      height: 190px
  .popup-form
    padding-left: 250px

+media-breakpoint-down(sm)
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

+media-breakpoint-up(xs)
+media-breakpoint-up(sm)
+media-breakpoint-up(md)
+media-breakpoint-up(lg)
+media-breakpoint-up(xl)
