$default-font: "futura", sans-serif
$accent: #87085A

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 960px, md: 1200px, lg: 1440, xl: 1600px)
$container-max-widths: (sm: 900px, md: 1160px, lg: 1380, xl: 1540px)
