@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.1
	font-family: $default-font
	overflow-x: hidden
	color: #0d213a
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green
a
	color: $accent
	&:hover
		color: darken($accent, 30%)
		text-decoration: none
.img-responsive
	display: block
	max-width: 100%
	height: auto
.btn
	color: $accent
	border: 1px solid $accent
	display: inline-block
	// display: flex
	padding: 15px
	text-align: center
	font-size: 14px
	background-color: transparent
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out
	position: relative
	&:hover
		box-shadow: 0 0 40px 40px $accent inset
		color: #fff
		outline: 0
	&::before
		content: ''
		position: absolute
		width: 30px
		height: 10px
		background-size: contain
		background-repeat: no-repeat
		right: 15px
		top: 50%
		margin-top: -5px
	&-red
		background-color: $accent
		color: #fff
		&:hover
			background-color: #D4A5C1		
			box-shadow: 0 0 40px 40px #D4A5C1 inset
	&-arr
		padding-right: 60px
		&::before			
			background-image: url('../img/arr-w.svg')
	&-arr-r
		padding-right: 60px
		&:hover::before
			background-image: url('../img/arr-w.svg')
		&::before
			background-image: url('../img/arr.svg')
	&-plus
		background-color: #ffffff
		width: 60px
		height: 60px
		text-align: center
		font-size: 2em
		line-height: 2em
		transition: all .5s ease-in-out
		&:hover
			background-color: $accent
			color: #fff
.tr
	text-align: right
.tc
	text-align: center
.header
	margin: 55px 0 0
.logo-wrap
	img
		width: 100%
.nav-wrap
	ul 
		padding-left: 0
		li
			display: inline-block
			padding: 5px 15px
	a
		font-size: 18px
		color: #0d213a
		display: block
		&:hover
			color: $accent
.mmenu
	display: none
	text-align: right
	img
		margin-left: 15px
.title
	font-size: 64px
	text-transform: uppercase
	text-align: center
	margin-top: 80px
.t-wrap
	border-bottom: 1px solid #D9D9D9
	margin-bottom: 70px
	padding-bottom: 40px
.block
	position: relative
	text-align: right
.h-title
	font-family: 'futura-light', sans-serif
	color: #c1a9c3
	text-transform: uppercase
	font-size: 32px
	transform: rotate(270deg)
	position: absolute
	top: 0
	left: 0
	margin-left: -200px
	margin-top: 180px
	width: 400px
	text-align: right
.bg
	position: relative	
	background-size: cover
	height: 100%
	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-color: rgba(8, 1, 14, 0.46)
		z-index: 0
.bg-1
	background-image: url('../img/bg_1.jpg')
.bg-2
	background-image: url('../img/bg_2.jpg')
.bg-3
	background-image: url('../img/bg_3.jpg')
.b-txt
	font-size: 36px
	color: #fff
.b-content
	position: relative
	display: block
	z-index: 3
.b-txt
	padding: 110px 0 0 60px
	p
		width: 70%
		line-height: 1.3em
.color
	color: $accent
	font-size: 24px
.small
	font-size: 18px
.header
	.btn-arr-r
		padding-right: 70px
.section
	.img-wrap
		overflow: hidden
.sec_2
	text-align: center
	p
		width: 50%
		margin: 0 auto
	.g-block
		position: relative
		overflow: hidden
		img
			width: 100%
	.g-1
		height: 620px
	.g-2
			height: 300px
			margin-top: 20px
			&:first-child
				margin-top: 0
				
	.btn-plus
		position: absolute
		top: 60px
		left: 0
.sec_3	
	color: #fff
	margin: 50px 0
	.title
		margin-bottom: 55px
	.b-wrap
		width: 90%
		margin: 0 auto
	.b-content
		text-align: center
		padding: 0 0 100px 0
	.block
		display: inline-block
		text-align: left
		width: 32%
		vertical-align: top
		span
			font-size: 64px
			vertical-align: top
		p
			width: 60%
			display: inline-block
			vertical-align: top
			padding-top: 15px
	.btn
		margin: 0 auto
.sec_4
	text-align: center

.sec_5
	.b-content
		height: 100%
.info
	p
		color: #0D213A8A
	p.color
		color: $accent
	
.footer
	margin: 100px 0
	.line
		border-top: 1px solid #D9D9D9
		margin: 50px 0
		padding: 50px 0
	.social
		list-style-type: none
		li
			display: inline-block
			margin: 0 10px
	.zerone
		color: #0D213A8A
		img
			width: 25px
.popup-form
	width: 60%
	background-color: #fff
	margin: 0 auto
	background-image: url('../img/bg_popup.jpg')
	background-repeat: no-repeat
	padding-left: 360px
	position: relative
	.p-content
		background-color: #fff
		padding: 55px
		text-align: center
		position: relative
		.title
			font-size: 36px
			margin-top: 0
		p
			font-size: 18px
	.line
		border-top: 1px solid #D9D9D9
		border-bottom: 1px solid #D9D9D9
		padding: 25px 0
		margin: 25px 0
	.f-input
		border: none
		border-bottom: 1px solid #0D213A8A
		margin: 0 5px
		font-family: 'futura-light', sans-serif
		&:placeholder
			color: #D9D9D9
	.mfp-close
		border: 1px solid $accent
		display: inline-block
		width: 50px
		height: 50px
		color: $accent
		font-size: 1.7em
		position: absolute
		right: 15px
		top: 15px
	.btn
		margin-top: 45px
	.p-agree
		width: 250px
		margin: 0 auto
		font-size: 12px
		text-align: left
		input
			vertical-align: top
			margin-top: 5px
		label
			display: inline-block
			width: 80%
			margin-left: 15px
			line-height: 1.2em
	.info-box
		background: #B597B7
		padding: 30px
		background-image: url('../img/corner-bird 1.png')
		background-repeat: no-repeat
		background-position: 100%
		color: #fff
	.big
		font-size: 36px


@import "media" // Always at the end